
body{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.container .container-item{
    width: 240px;
    height: 240px;
    background-color: #007bff;
    border-radius: 20%;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.container .container-item p{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color:#ffffff;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.container .container-item svg{
    width: 100%;
    height: 80%;
    color:#ffffff;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.container .container-item:hover{
    background-color: transparent;
    border: 5px solid #007bff;
    transform: translate(0px, -10px);
}

.container .container-item:hover p,
.container .container-item:hover svg
{
    color:#007bff;
}

.content{
    background-color: transparent;
    border: 5px solid #7c7c7c;
    border-radius: 40px;
    width: 100%;
    height: 600px;
    display: none;
    margin-bottom: 50px;
    transition-duration: 1s;
    padding: 20px;
}

.content h2{
    text-align: center;
}



.content-enabled{
    display: block;
}

.table-custom{
    width: 100%;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    border-radius: 10px
    
}
#section-usuarios .table-custom{
    height: 100px;
}

.table-custom thead{
    border-radius: 10px;
    background-color: #007bff;
    border-bottom: 5px solid #134985;
    color: white;
    position: sticky;
    top: 0px;
}

.table-custom tbody td{
    border-bottom: 1px solid #aeb7c1;
}

.btns-custom{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.btns-custom button{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 32px;
    font-weight: 600;
}

.content-custom{
    max-height: 400px;
    overflow-y: scroll;
}

#section-inventarios .content-custom .table-custom thead{
    background-color: #f5cf40;
    border-bottom: 5px solid #b87616;
}

.content-custom{
    display: flex;
    height: 400px;
    max-height: 400px;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
}

.forms-custom{
    display: flex;
    position: relative;
    top: 150px;
    background-color: transparent;
    border-radius: 20px;
    border: 5px solid #bababa;
    width: 100%;
    height: 500px;
    flex-direction: row;
    margin-bottom: 20px;
}

.form-wrapper{
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #eeeeee;
    border-radius: 15px;
}

.form-wrapper .form-item{
    display: flex;
    flex-direction: column; 
}

.form-wrapper .form-item input{
    border: none;
    border-bottom: 2px solid #676db8;
    outline: none;
}

 .form-wrapper .form-submit{
    margin-top: 10px;
    height: 50px;
    background-color: #007bff;
    color: WHITE;
    outline: none;
    border: none;
    border-radius: 20px;
}

#section-inventarios .forms-custom #img-add-inv{
    background-color: transparent;
    min-width: 60%;
    min-height: 100%;
    max-width: 60%;
    max-height: 100%;
}

#section-inventarios #form-remove-inv .form-wrapper {
    width: 100%;
}

#section-usuarios .form-wrapper {
    width: 100%;
}

#section-usuarios #form-add-user .form-wrapper .form-submit{
    background-color: #2eb352;
}

#section-usuarios #form-remove-user .form-wrapper .form-submit{
    background-color: #ad101f;
}
#section-usuarios #form-remove-user .form-wrapper input{
    border-bottom: 2px solid #ad101f;
}

.checkbox-text{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}

#section-inventarios #form-remove-inv .form-wrapper .form-submit{
    background-color: #ad101f;
}
#section-inventarios #form-remove-inv .form-wrapper input{
    border-bottom: 2px solid #ad101f;
}