body{
    display: flex;
    flex-direction: column;
    height: 1000px;
    padding-top: 64px;
}

.ofertas{
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 300px;
}

.title-chafazon{
    color: #ad101f;
    padding-bottom: 10px;
    padding-left: 20px;
}

.articulos{
    display: flex;
    flex-direction: column;
}

.articulos-content{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    
}

.articulos-item{
    margin: 10px;
    
}

.articulos-item-image{
  
}

.articulos-title{
}

.articulo-item-price{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2); 
}

.text-black-shadow{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}



